.addToCart {
  border: 2px solid var(--black);
  background-color: var(--white);
  color: black;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 12px;
  font-size: large;
  font-weight: bold;
}

.addToCart:hover {
  background-color: var(--white-hover);
}

.addItem,
.removeItem {
  border: 2px solid var(--black);
  background-color: var(--white);
  color: black;
  padding: 9.5px 10px;
  cursor: pointer;
  font-size: larger;
  font-weight: bolder;
}

.addItem {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.removeItem {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 9.5px 12.185px;
}

.addItem:hover,
.removeItem:hover {
  background-color: var(--white-hover);
}

.itemsInCart {
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
  background-color: var(--white);
  color: black;
  padding: 9.5px 10px;
  font-size: larger;
  font-weight: bolder;
  cursor: default;
}
